<!DOCTYPE html>

<head>
    <title>.atarimae // Workflow</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            background-color: #b99e8b;
            margin: 0;
            font-family: "Gotham-Book", arial, Helvetica, sans-serif;
        }

        .main {
            width: 80%;
            margin: auto;
            background-color: #f9f6f4;
            padding: 5px;
        }

        .center-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main-title {
            font-size: 40px;
            font-weight: 600;
            color: #5b493b;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        @font-face {
            font-family: "Gotham-Bold";
            src: url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Bold.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Book";
            src:
                local("Gotham-Book"),
                url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Book.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Medium";
            src:
                local("Gotham-Medium"),
                url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Medium.otf") format("opentype");
        }

        .content-box {
            margin: 60px auto;
            width: 75%;
        }

        .data-input:focus {
            border-color: #1C64F2;
        }

        .my-5 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .mb-10 {
            margin-bottom: 40px;
        }

        .date-box {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .w-full {
            width: 100%;
        }

        .d-flex {
            display: flex;
        }

        .detail-text {
            color: #242c32;
            font-family: "Gotham-Book", arial, Helvetica, sans-serif;
            font-size: 1rem;
            letter-spacing: 0.8px;
            line-height: 1.25rem;
        }

        .detail-note-text {
            color: #d9d8d9;
            font-family: "Gotham-Medium", arial, Helvetica, sans-serif;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 1.25rem;
            text-align: center;
            margin-top: 1rem;
            width: 100%;
        }

        .tip-text {
            color: #5b493b;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            line-height: 1.25;
            font-weight: 700;
            text-align: center;
            margin: 1.5rem auto;
        }

        .bottom-tip {
            color: #242c32 !important;
        }

        .justify-center {
            justify-content: center;
        }

        .items-center {
            align-items: center;
        }

        .job-folder-button {
            background-color: #b99e8b;
            color: white;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 12px 45px;
            border: none;
            border-radius: 16px;
            letter-spacing: 1px;
            text-decoration: none;
            font-family: 'Gotham-Book', arial, Helvetica, sans-serif;
        }

        .add-calendar-button {
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 13px 45px;
            border: none;
            border-radius: 16px;
            letter-spacing: 1px;
            font-family: 'Gotham-Book', arial, Helvetica, sans-serif;
            background-color: #242c32;
        }

        .updated-text {
            color: #9b57a3 !important;
        }

        .paid-text {
            color: #939598 !important;
        }

        .form-box {
            margin: 25px 0;
        }

        .form-item {
            padding-top: 10px;
        }

        .form-item label {
            color: #5b493b;
            font-size: 16px;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
        }

        .form-item span {
            color: #000;
            font-size: 16px;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
        }

        .mt-20 {
            margin-top: 80px;
        }

        .text-black {
            color: black !important;
        }

        .relative {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

        .calendar-icon {
            right: 10px;
            top: 11px;
        }

        .add-calendar-icon {
            left: 10px;
            top: 11px;
        }

        .add-calendar-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .text-center {
            text-align: center;
        }

        .detail-box {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 100%;
            border-style: none;
            padding: 2rem 1.8rem;
            background-color: white;
        }

        .title-input {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 1.8rem;
            letter-spacing: 0.05em;
            font-size: 1.25rem;
            line-height: 1.25rem;
            font-weight: 700;
            text-align: center;
            border-style: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            font-family: 'Gotham-Bold', arial, Helvetica, sans-serif;
            outline: none;
        }

        .event-title {
            background: #9b8579;
            display: flex;
            justify-content: center;
        }

        .event-title-prefix,
        .event-title-name {
            height: 1.8rem;
            letter-spacing: 0.05em;
            font-size: 1.25rem;
            line-height: 1.25rem;
            display: flex;
            align-items: center;
        }

        .event-title-prefix {
            color: #232c31;
        }

        .event-title-name {
            color: white;
            margin-left: 8px;
        }

        .date-label {
            color: #9b8579;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
        }

        .date-input {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 1.8rem;
            letter-spacing: 0.05em;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
            text-align: center;
            border-style: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            font-family: 'Gotham-Bold', arial, Helvetica, sans-serif;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="w-full text-center">
            <img src="https://storage.googleapis.com/atarimaeagency/assets/workflowLogo.png" alt="logo"
                style="padding: 50px 0; width: 50%; height: 100%;" />
        </div>

        <div class="w-full text-center">
            <div class="main-title">
                You have a new job
            </div>
        </div>

        <div class="content-box">
            <div class="w-full my-5 d-flex">
                <input type="text" class="title-input mb-10" value="{JOB NAME}" readonly />
            </div>

            <div class="event-item">
                <div class="w-full my-5 d-flex">
                    <div class="title-input event-title">
                        <span class="event-title-prefix">SOCIAL - </span>
                        <span class="event-title-name">{DELIVERABLE NAME}</span>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="w-full" style="padding-right: 10px; text-align: center;">
                        <label for="conceptDate" class="date-label">Concept Due Date</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="08/12/2024" class="date-input" name="conceptDate" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/calendar_month.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>
                    <div class="w-full" style="padding-right: 10px; text-align: center;">
                        <label for="contentDate" class="date-label">Content Due Date</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="09/12/2024" class="date-input" name="contentDate" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/calendar_month.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>

                    <div class="w-full" style="text-align: center;">
                        <label for="liveDate" class="date-label">Live Date</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="09/12/2024" class="date-input" name="liveDate" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/calendar_month.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="date-label">Brief - Client brief in job folder in link bein link below</div>

                <div class="my-5 d-flex">
                    <div class="detail-box">
                        <div class="detail-text">
                            <div>
                                Rest volo omnimusandae ea pediti tem quis arum audam venditi bustet liae num ipsam quas
                                et
                                aut
                                post, non ped molupta tquaspe riaepudae corporehende vella sincitatius et officiti
                                invello
                                rempere providit eumquosanim simpore planiat ibuscius sitatio nsequos conectios eatur
                                arcietur,
                                cor aut
                                eum derum fugit quae lam aliquam quia doluptatur, consequi conectatur aut re commod ma
                                aut
                                aut
                                assit
                                et quaeserum quae dion cusam, quae laut que nat laccatio. Pit a quiat im volores maios
                            </div>

                            <div style="font-weight: 700; padding-top: 20px;">DELIVERABLES:</div>
                            <div>
                                sed mi, tem hit, quis aliquae sa porestis nus remolor enisquae nem earum et repro te ex
                                exere
                                nis volorep errovidus aliquiam, ut magnihit et magnatia dolupta temquis et quos volorio
                                maione
                                reptate ssimaion et occulparchil mi, ut volla nos inumquo ditatiundis inistio consent
                                liquamus
                                nistrum
                                quaspe volo to maximet ut aut anda quam ut esse mo conesenihil exceate rest asint,
                                omnihicia
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full add-calendar-box">
                    <button class="add-calendar-button">
                        <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                            <image href="./assets/add-calendar_month.svg" height="25" width="22" />
                        </svg>
                        Add to Calendar
                    </button>
                </div>
            </div>

            <div class="event-item">
                <div class="w-full my-5 d-flex">
                    <div class="title-input event-title">
                        <span class="event-title-prefix">EVENT - </span>
                        <span class="event-title-name">{DELIVERABLE NAME}</span>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="w-full" style="padding-right: 10px; text-align: center;">
                        <label for="eventDate" class="date-label">Event Date</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="08/12/2024" class="date-input" name="eventDate" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/calendar_month.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>
                    <div class="w-full" style="padding-right: 10px; text-align: center;">
                        <label for="eventStartTime" class="date-label">Event Start Time</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="09/12/2024" class="date-input" name="eventStartTime" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/schedule.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>

                    <div class="w-full" style="text-align: center;">
                        <label for="eventEndTime" class="date-label">Event End Time</label>
                        <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                            <input type="text" readonly value="09/12/2024" class="date-input" name="eventEndTime" />
                            <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                class="absolute calendar-icon">
                                <image href="./assets/schedule.svg" height="25" width="22" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="date-label">Brief - Client brief in job folder in link bein link below</div>

                <div class="my-5 d-flex">
                    <div class="detail-box">
                        <div class="detail-text">
                            <div>
                                Rest volo omnimusandae ea pediti tem quis arum audam venditi bustet liae num ipsam quas
                                et
                                aut
                                post, non ped molupta tquaspe riaepudae corporehende vella sincitatius et officiti
                                invello
                                rempere providit eumquosanim simpore planiat ibuscius sitatio nsequos conectios eatur
                                arcietur,
                                cor aut
                                eum derum fugit quae lam aliquam quia doluptatur, consequi conectatur aut re commod ma
                                aut
                                aut
                                assit
                                et quaeserum quae dion cusam, quae laut que nat laccatio. Pit a quiat im volores maios
                            </div>

                            <div style="font-weight: 700; padding-top: 20px;">DELIVERABLES:</div>
                            <div>
                                sed mi, tem hit, quis aliquae sa porestis nus remolor enisquae nem earum et repro te ex
                                exere
                                nis volorep errovidus aliquiam, ut magnihit et magnatia dolupta temquis et quos volorio
                                maione
                                reptate ssimaion et occulparchil mi, ut volla nos inumquo ditatiundis inistio consent
                                liquamus
                                nistrum
                                quaspe volo to maximet ut aut anda quam ut esse mo conesenihil exceate rest asint,
                                omnihicia
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full add-calendar-box">
                    <button class="add-calendar-button">
                        <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                            <image href="./assets/add-calendar_month.svg" height="25" width="22" />
                        </svg>
                        Add to Calendar
                    </button>
                </div>
            </div>

            <div class="d-flex justify-center items-center">
                <span class="tip-text">
                    A copy of the brief, contract and any supporting files are in the job folder in your share drive.
                    <br />
                    You can access the job folder in your share drive in the link below
                </span>
            </div>

            <div class="w-full text-center job-folder-box">
                <a class="job-folder-button" target="_blank"
                    href="https://console.cloud.google.com/storage/browser/atarimaeagency;tab=objects?forceOnBucketsSortingFiltering=true&project=verdant-oven-438907-b1&prefix=&forceOnObjectsSortingFiltering=false">Job
                    Folder</a>
            </div>

            <div class="mt-20">
                <div class="tip-text bottom-tip">
                    <div>If you have any questions please contact your manager</div>
                    <div style="font-size: 2.5rem !important; margin-top: 12px; margin-bottom: 8px;">{manager name}</div>
                    <div>on {Mananger Phone} or {Manager Email}</div>
                </div>
                <div class="w-full text-center">
                    <img src="https://storage.googleapis.com/atarimaeagency/assets/workflowLogo.png" alt="logo"
                        style="height: 25px;" />
                </div>
            </div>
        </div>
    </div>
</body>